In [15]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\REC 거래량\2017~2024.csv')

In [16]:
df

,clsPrc,jejuOrdRecValue,landLwPrc,trdCnt,landTrdCnt,landTrdRecValue,landOrdRecValue,jejuOrdCnt,landOrdCnt,landAvgPrc,...,landLwlmtPrc,jejuLwlmtPrc,jejuAvgPrc,totRecValue,bidTrdVal,jejuHgPrc,jejuTrdRecValue,jejuUplmtPrc,rn,jejuLwPrc
0,128000,5978,128000,32,158,11530,245653,36,1556,130445,...,92400,92400,120700,11541,1505368100,120700,11,171600,1,120700
1,130000,3383,125000,20,274,14899,156778,29,1374,130037,...,89600,89600,115605,15372,1992110600,120000,473,166400,2,110800
2,133500,5611,120000,128,588,135260,283418,58,1614,132362,...,91000,91000,120791,137838,18214692900,124000,2578,169000,3,110800
3,125500,6772,125500,12,34,2231,185603,33,1259,126757,...,93500,93500,115300,2345,295940200,115300,114,173500,4,115300
4,119000,7711,119000,17,190,16198,192981,39,1190,128969,...,87900,87900,115289,16466,2119942500,118800,268,163100,5,109800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,1327,74700,45,3834,126304,243916,19,5138,74856,...,67500,67500,68999,127510,9537870300,75300,1206,82300,750,59500
750,72700,603,72700,52,1498,90601,251886,12,2790,73948,...,67300,67300,72006,90871,6719294700,74500,270,82100,751,69900
751,67200,2579,67000,92,1010,69358,347268,12,2157,68733,...,65500,65500,67405,71862,4936019000,70800,2504,79900,752,54500
752,66900,478,66900,98,1107,67084,184940,8,1887,67499,...,60500,60500,59060,67454,4549989700,64300,370,73900,753,43700
753,62100,1231,61300,59,823,85729,260551,8,1620,62684,...,60300,60300,48452,85907,5382523900,63100,178,73500,754,32400

In [17]:
rename_cols = {
    'clsPrc' : '종가',
    'jejuOrdRecValue' : '제주 매도물량',
    'landLwPrc' : '육지 최저가',
    'trdCnt' : '매수 건수',
    'landTrdCnt' : '육지 체결건수',
    'landTrdRecValue' : '육지 체결물량',
    'landOrdRecValue' : '육지 매도물량',
    'jejuOrdCnt' : '제주 매도건수',
    'landOrdCnt' : '육지 매도건수',
    'landAvgPrc' : '육지 평균가',
    'totCnt' : '총 거래건수',
    'landUplmtPrc' : '육지 상한가',
    'bzDd' : '현물시장거래일',
    'trdRecValue' : '매수 물량',
    'landHgPrc' : '육지 최고가',
    'jejuTrdCnt' : '제주 체결건수',
    'landLwlmtPrc' : '육지 하한가',
    'jejuLwlmtPrc' : '제주 하한가',
    'jejuAvgPrc' : '제주 평균가',
    'totRecValue' : '총 거래물량',
    'bidTrdVal' : '거래금액',
    'jejuHgPrc' : '제주 최고가',
    'jejuTrdRecValue' : '제주 체결물량',
    'jejuUplmtPrc' : '제주 상한가',
    'rn' : '순번',
    'jejuLwPrc' : '제주 최저가'
}

df.rename(columns=rename_cols, inplace=True)

In [18]:
df

,종가,제주 매도물량,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,제주 매도건수,육지 매도건수,육지 평균가,...,육지 하한가,제주 하한가,제주 평균가,총 거래물량,거래금액,제주 최고가,제주 체결물량,제주 상한가,순번,제주 최저가
0,128000,5978,128000,32,158,11530,245653,36,1556,130445,...,92400,92400,120700,11541,1505368100,120700,11,171600,1,120700
1,130000,3383,125000,20,274,14899,156778,29,1374,130037,...,89600,89600,115605,15372,1992110600,120000,473,166400,2,110800
2,133500,5611,120000,128,588,135260,283418,58,1614,132362,...,91000,91000,120791,137838,18214692900,124000,2578,169000,3,110800
3,125500,6772,125500,12,34,2231,185603,33,1259,126757,...,93500,93500,115300,2345,295940200,115300,114,173500,4,115300
4,119000,7711,119000,17,190,16198,192981,39,1190,128969,...,87900,87900,115289,16466,2119942500,118800,268,163100,5,109800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,1327,74700,45,3834,126304,243916,19,5138,74856,...,67500,67500,68999,127510,9537870300,75300,1206,82300,750,59500
750,72700,603,72700,52,1498,90601,251886,12,2790,73948,...,67300,67300,72006,90871,6719294700,74500,270,82100,751,69900
751,67200,2579,67000,92,1010,69358,347268,12,2157,68733,...,65500,65500,67405,71862,4936019000,70800,2504,79900,752,54500
752,66900,478,66900,98,1107,67084,184940,8,1887,67499,...,60500,60500,59060,67454,4549989700,64300,370,73900,753,43700
753,62100,1231,61300,59,823,85729,260551,8,1620,62684,...,60300,60300,48452,85907,5382523900,63100,178,73500,754,32400

In [19]:
def remove_columns_jeju(df):
    #"제주"가 포함되지 않은 컬럼들만 선택
    filtered_df = df.loc[:,~df.columns.str.contains('제주')]
    return filtered_df

df = remove_columns_jeju(df)
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,현물시장거래일,매수 물량,육지 최고가,육지 하한가,총 거래물량,거래금액,순번
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,20170530,16537,132000,92400,11541,1505368100,1
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,20170601,20316,131000,89600,15372,1992110600,2
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,20170608,204358,133500,91000,137838,18214692900,3
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,20170613,7992,129000,93500,2345,295940200,4
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,20170615,32093,130000,87900,16466,2119942500,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,20241203,173191,75000,67500,127510,9537870300,750
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,20241205,139680,74800,67300,90871,6719294700,751
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,20241210,169536,71600,65500,71862,4936019000,752
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,20241212,176099,68000,60500,67454,4549989700,753
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,20241217,142397,63000,60300,85907,5382523900,754

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종가       754 non-null    int64
 1   육지 최저가   754 non-null    int64
 2   매수 건수    754 non-null    int64
 3   육지 체결건수  754 non-null    int64
 4   육지 체결물량  754 non-null    int64
 5   육지 매도물량  754 non-null    int64
 6   육지 매도건수  754 non-null    int64
 7   육지 평균가   754 non-null    int64
 8   총 거래건수   754 non-null    int64
 9   육지 상한가   754 non-null    int64
 10  현물시장거래일  754 non-null    int64
 11  매수 물량    754 non-null    int64
 12  육지 최고가   754 non-null    int64
 13  육지 하한가   754 non-null    int64
 14  총 거래물량   754 non-null    int64
 15  거래금액     754 non-null    int64
 16  순번       754 non-null    int64
dtypes: int64(17)
memory usage: 100.3 KB

In [21]:
print(df['현물시장거래일'].head())

0    20170530
1    20170601
2    20170608
3    20170613
4    20170615
Name: 현물시장거래일, dtype: int64

In [22]:
# int64 형식의 날짜를 문자열로 변환 후, pd.to_datetime 사용
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'].astype(str), format='%Y%m%d')

# 변환 확인
print(df['현물시장거래일'].head())

0   2017-05-30
1   2017-06-01
2   2017-06-08
3   2017-06-13
4   2017-06-15
Name: 현물시장거래일, dtype: datetime64[ns]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6220\3005257405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'].astype(str), format='%Y%m%d')

In [10]:
df.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번'],
      dtype='object')

# 논문 기준 REC 거래 데이터에서 추출한 패턴 데이터


 - REC 거래 규모에 대한 Cyclic Pattern 지수

 - REC 체결 건수에 대한 Cyclic Pattern 지수

 - REC 체결 가격에 대한 Cyclic Pattern 지수

In [27]:
from prophet import Prophet
import pandas as pd

# 데이터 준비
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])

# 분석 대상 변수

# 거래 규모
ts_df = df[['현물시장거래일','육지 체결물량']].rename(columns={'현물시장거래일':'ds','육지 체결물량':'y'})

# 체결 건수
nc_df = df[['현물시장거래일','육지 체결건수']].rename(columns={'현물시장거래일':'ds','육지 체결건수':'y'})

# 체결 가격
ef_df = df[['현물시장거래일','육지 평균가']].rename(columns={'현물시장거래일':'ds','육지 평균가':'y'})

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6220\2127053565.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])

In [28]:
ts_df

            ds       y
0   2017-05-30   11530
1   2017-06-01   14899
2   2017-06-08  135260
3   2017-06-13    2231
4   2017-06-15   16198
..         ...     ...
749 2024-12-03  126304
750 2024-12-05   90601
751 2024-12-10   69358
752 2024-12-12   67084
753 2024-12-17   85729

[754 rows x 2 columns]

In [25]:
ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   현물시장거래일  754 non-null    datetime64[ns]
 1   y        754 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.9 KB

In [31]:
# 거래 규모
ts_model = Prophet(yearly_seasonality=True, weekly_seasonality=True, daily_seasonality=False)
ts_model.fit(ts_df) 

# 체결 건수
nc_model = Prophet(yearly_seasonality=True, weekly_seasonality=True, daily_seasonality=False)
nc_model.fit(nc_df) 

# 체결 가격
ef_model = Prophet(yearly_seasonality=True, weekly_seasonality=True, daily_seasonality=False)
ef_model.fit(ef_df)

17:37:11 - cmdstanpy - INFO - Chain [1] start processing
17:37:11 - cmdstanpy - INFO - Chain [1] done processing
17:37:11 - cmdstanpy - INFO - Chain [1] start processing
17:37:12 - cmdstanpy - INFO - Chain [1] done processing
17:37:12 - cmdstanpy - INFO - Chain [1] start processing
17:37:12 - cmdstanpy - INFO - Chain [1] done processing

In [32]:
# 미래 데이터 생성
future_ts = ts_model.make_future_dataframe(periods=365)
future_nc = nc_model.make_future_dataframe(periods=365)
future_ef = ef_model.make_future_dataframe(periods=365)

# 예측
forcast_ts = ts_model.predict(future_ts)
forcast_nc = nc_model.predict(future_nc)
forcast_ef = ef_model.predict(future_ef)

In [33]:
forcast_ts

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2017-05-30,21551.242874,-21032.672233,100028.294362,21551.242874,21551.242874,17399.889400,17399.889400,17399.889400,16575.100973,16575.100973,16575.100973,824.788427,824.788427,824.788427,0.0,0.0,0.0,38951.132273
1,2017-06-01,21648.037167,-26087.830898,90363.871647,21648.037167,21648.037167,11232.312340,11232.312340,11232.312340,8499.787385,8499.787385,8499.787385,2732.524955,2732.524955,2732.524955,0.0,0.0,0.0,32880.349507
2,2017-06-08,21986.817195,-17021.549257,103581.039651,21986.817195,21986.817195,19321.862454,19321.862454,19321.862454,8499.787385,8499.787385,8499.787385,10822.075069,10822.075069,10822.075069,0.0,0.0,0.0,41308.679649
3,2017-06-13,22228.802929,-3533.903987,116798.858607,22228.802929,22228.802929,31607.719924,31607.719924,31607.719924,16575.100973,16575.100973,16575.100973,15032.618951,15032.618951,15032.618951,0.0,0.0,0.0,53836.522853
4,2017-06-15,22325.597222,-13560.914257,109858.606435,22325.597222,22325.597222,24208.950387,24208.950387,24208.950387,8499.787385,8499.787385,8499.787385,15709.163003,15709.163003,15709.163003,0.0,0.0,0.0,46534.547610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,2025-12-13,157290.113521,100037.803961,223443.927657,157006.231005,157562.543483,4159.340470,4159.340470,4159.340470,-5014.992290,-5014.992290,-5014.992290,9174.332760,9174.332760,9174.332760,0.0,0.0,0.0,161449.453992
1115,2025-12-14,157327.321979,102665.472866,222472.142059,157042.853895,157601.231157,3895.644717,3895.644717,3895.644717,-5014.974713,-5014.974713,-5014.974713,8910.619430,8910.619430,8910.619430,0.0,0.0,0.0,161222.966696
1116,2025-12-15,157364.530437,103685.242444,222476.129019,157079.481077,157639.918832,3466.538098,3466.538098,3466.538098,-5014.981572,-5014.981572,-5014.981572,8481.519670,8481.519670,8481.519670,0.0,0.0,0.0,160831.068535
1117,2025-12-16,157401.738894,121341.904586,240047.969937,157116.108259,157678.606507,24452.233413,24452.233413,24452.233413,16575.100973,16575.100973,16575.100973,7877.132440,7877.132440,7877.132440,0.0,0.0,0.0,181853.972307
1118,2025-12-17,157438.947352,98700.262985,218397.947166,157152.735441,157717.294182,2076.309377,2076.309377,2076.309377,-5014.969418,-5014.969418,-5014.969418,7091.278796,7091.278796,7091.278796,0.0,0.0,0.0,159515.256729

In [35]:
# 육지 체결 가격 트렌드 및 주기 성분 
df = df.merge(forcast_ef[['ds','trend','yearly']], left_on='현물시장거래일', right_on='ds', how='left')
df.rename(columns={'trend':'육지_체결_가격_트랜드', 'yearly':'육지_체결_가격_주기성분'}, inplace=True)

# 육지 체결 건수 트렌드 및 주기 성분
df = df.merge(forcast_nc[['ds','trend','yearly']], left_on='현물시장거래일', right_on='ds', how='left')
df.rename(columns={'trend':'육지_체결_건수_트랜드', 'yearly':'육지_체결_건수_주기성분'}, inplace=True)

# 육지 거래 규모 트렌드 및 주기 성분
df = df.merge(forcast_ts[['ds','trend','yearly']], left_on='현물시장거래일', right_on='ds', how='left')
df.rename(columns={'trend':'육지_거래_규모_트랜드', 'yearly':'육지_거래_규모_주기성분'}, inplace=True)

In [40]:
df.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', 'ds_x', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', 'ds_y',
       '육지_체결_건수_트랜드', '육지_체결_건수_주기성분', 'ds', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분'],
      dtype='object')

In [41]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,순번,ds_x,육지_체결_가격_트랜드,육지_체결_가격_주기성분,ds_y,육지_체결_건수_트랜드,육지_체결_건수_주기성분,ds,육지_거래_규모_트랜드,육지_거래_규모_주기성분
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,1,2017-05-30,130655.192010,1186.000466,2017-05-30,213.019383,35.947576,2017-05-30,21551.242874,824.788427
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,2,2017-06-01,130490.254944,1207.296375,2017-06-01,213.932938,32.787230,2017-06-01,21648.037167,2732.524955
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,3,2017-06-08,129912.975214,1185.776492,2017-06-08,217.130378,0.517604,2017-06-08,21986.817195,10822.075069
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,4,2017-06-13,129500.632550,1109.625870,2017-06-13,219.414263,-35.089336,2017-06-13,22228.802929,15032.618951
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,5,2017-06-15,129335.695485,1069.475376,2017-06-15,220.327817,-48.821082,2017-06-15,22325.597222,15709.163003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,750,2024-12-03,76433.331714,-3158.840524,2024-12-03,2494.235148,-62.970389,2024-12-03,143336.941945,6684.327242
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,751,2024-12-05,76444.260199,-3428.358041,2024-12-05,2498.291701,-72.615687,2024-12-05,143411.358860,7482.758375
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,752,2024-12-10,76471.581411,-3813.082124,2024-12-10,2508.433082,-110.361125,2024-12-10,143597.401148,9164.877705
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,753,2024-12-12,76482.509896,-3849.748007,2024-12-12,2512.489635,-128.626703,2024-12-12,143671.818063,9271.436211
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,754,2024-12-17,76509.831108,-3732.284280,2024-12-17,2522.631016,-171.296081,2024-12-17,143857.860350,6866.115741

In [42]:
df = df.drop(columns=['ds_x','ds_y','ds'], axis=1)

In [43]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,육지 하한가,총 거래물량,거래금액,순번,육지_체결_가격_트랜드,육지_체결_가격_주기성분,육지_체결_건수_트랜드,육지_체결_건수_주기성분,육지_거래_규모_트랜드,육지_거래_규모_주기성분
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,92400,11541,1505368100,1,130655.192010,1186.000466,213.019383,35.947576,21551.242874,824.788427
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,89600,15372,1992110600,2,130490.254944,1207.296375,213.932938,32.787230,21648.037167,2732.524955
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,91000,137838,18214692900,3,129912.975214,1185.776492,217.130378,0.517604,21986.817195,10822.075069
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,93500,2345,295940200,4,129500.632550,1109.625870,219.414263,-35.089336,22228.802929,15032.618951
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,87900,16466,2119942500,5,129335.695485,1069.475376,220.327817,-48.821082,22325.597222,15709.163003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,67500,127510,9537870300,750,76433.331714,-3158.840524,2494.235148,-62.970389,143336.941945,6684.327242
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,67300,90871,6719294700,751,76444.260199,-3428.358041,2498.291701,-72.615687,143411.358860,7482.758375
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,65500,71862,4936019000,752,76471.581411,-3813.082124,2508.433082,-110.361125,143597.401148,9164.877705
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,60500,67454,4549989700,753,76482.509896,-3849.748007,2512.489635,-128.626703,143671.818063,9271.436211
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,60300,85907,5382523900,754,76509.831108,-3732.284280,2522.631016,-171.296081,143857.860350,6866.115741

In [45]:
df.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_1.csv',index=False, encoding='utf-8')