In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_2.csv',encoding='cp949')

In [2]:
smp_2017 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2017.xlsx')
smp_2018 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2018.xlsx')
smp_2019 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2019.xlsx')
smp_2020 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2020.xlsx')
smp_2021 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2021.xlsx')
smp_2022 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2022.xlsx')
smp_2023 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2023.xlsx')
smp_2024 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2024.xlsx')

In [3]:
# 데이터프레임의 0번 인덱스를 컬럼으로 설정하는 함수
def set_first_row_as_columns(df):
    df.columns = df.iloc[0]  # 0번 인덱스를 컬럼으로 설정
    df = df[1:].reset_index(drop=True)  # 0번 인덱스 데이터 제거 후 인덱스 리셋
    return df

# 데이터프레임 리스트
dataframes = [smp_2017,smp_2018,smp_2019,smp_2020,smp_2021,smp_2022, smp_2023, smp_2024]

# 각 데이터프레임에 함수 적용
smp_2017,smp_2018,smp_2019,smp_2020, smp_2021, smp_2022, smp_2023, smp_2024 = [set_first_row_as_columns(df) for df in dataframes]

In [4]:
smp_2020.head()

,구분,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,최소,최대,평균
0,20200101,88.55,88.49,83.16,83.11,80.92,81.65,80.95,79.82,80.95,...,81.58,82,84.15,81.87,81.87,84.15,84.15,77.83,88.55,81.85
1,20200102,80.67,82.6,79.44,79.04,82.6,80.21,82.6,86.65,89.32,...,87.48,87.49,87.49,84.63,84.1,84.1,84.1,79.04,89.69,85.52
2,20200103,83,81.71,82.6,81.26,81.31,82.6,88.64,88.86,89.22,...,87.82,87.91,87.91,84.22,83.38,82.56,84.07,81.26,89.84,85.68
3,20200104,83.93,81.34,81.34,81.35,81.35,82.58,83.93,84.6,84.59,...,85.39,85.4,85.4,84.72,82.73,82.73,85.41,79.9,85.41,83.49
4,20200105,87.33,87.2,86.96,78.87,79.34,79.38,82.54,80.5,82.54,...,82.85,83.68,83.72,82.79,81.59,81.6,83.8,78.27,87.33,82.14

In [5]:
smp_combined = pd.concat([smp_2017,smp_2018,smp_2019,smp_2020, smp_2021, smp_2022, smp_2023, smp_2024], ignore_index=True)
smp_combined

,구분,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,최소,최대,평균
0,20170101,89.79,87.32,87.21,83.5,83.5,83.5,83.55,83.33,83.15,...,83.22,84.08,84.08,83.9,86.16,86.43,86.43,48.08,89.79,76.26
1,20170102,84.61,84.61,84.61,82.88,84.61,84.61,84.61,87.05,90.02,...,88.82,88.64,88.23,88.23,88.23,88.23,87.05,82.88,90.02,87.67
2,20170103,85.93,85.93,85.93,85.17,85.93,85.93,85.93,87.53,89.96,...,89.28,89.29,88.53,87.54,86.24,86.24,87.55,85.17,89.96,87.82
3,20170104,85.94,85.94,85.94,85.19,85.94,85.94,85.94,87.81,89.36,...,88.85,88.86,88.85,87.24,86.59,86.63,86.64,85.19,89.36,87.67
4,20170105,85.53,84.55,85.37,84.55,84.55,84.97,85.37,87.21,89.29,...,88.84,88.7,88.6,87.41,86.07,86.07,86.2,84.55,89.29,87.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2903,20241213,108.02,98.56,91.58,91.13,91.66,111.58,101.9,141.19,154.1,...,142.66,142.66,141.2,117.27,123.01,141.19,111.93,91.13,166.91,129.67
2904,20241214,103.49,92.66,92.12,91.67,91.7,92.25,96.32,101.03,103.13,...,103.61,103.93,103.38,103.38,102.84,102.95,101.51,91.67,103.93,100.41
2905,20241215,98.4,83.15,83.15,82.32,82.32,83.15,92.18,96.58,111.86,...,110.46,110.63,110.98,102.86,111.16,102.38,102.39,82.32,133.67,105.73
2906,20241216,111.06,99.87,80.38,80.34,80.38,111.41,100.92,134.1,146.9,...,142.79,140.34,139.4,136.34,135.78,141.2,116.31,80.34,170.67,131.87
2907,20241217,93.08,84.67,82.02,82.02,82.02,91.56,96.54,141.2,145.49,...,140.86,142.22,137.95,141.19,119.76,101.93,100.84,82.02,145.88,124.52

In [6]:
# 최소, 최대, 평균 컬럼 이름 변경
smp_combined.rename(columns={
    '최소': 'SMP_최소',
    '최대': 'SMP_최대',
    '평균': 'SMP_평균',
    '구분' : '현물시장거래일'
}, inplace=True)

print(smp_combined.columns)

Index(['현물시장거래일', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10h',
       '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h',
       '21h', '22h', '23h', '24h', 'SMP_최소', 'SMP_최대', 'SMP_평균'],
      dtype='object', name=0)

In [7]:
# int64 형식의 날짜를 문자열로 변환 후, pd.to_datetime 사용
smp_combined['현물시장거래일'] = pd.to_datetime(smp_combined['현물시장거래일'].astype(str), format='%Y%m%d')

In [8]:
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])

In [9]:
# 필요한 컬럼만 선택 (현물시장거래일, SMP_최소, SMP_최대, SMP_평균)
smp_combined_subset = smp_combined[['현물시장거래일', 'SMP_최소', 'SMP_최대', 'SMP_평균']]

# df와 smp_combined 병합 (현물시장거래일 기준)
df = pd.merge(df, smp_combined_subset, on='현물시장거래일', how='left')

df.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,년도,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국중부발전_RPS,SMP_최소,SMP_최대,SMP_평균
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,74.27,87.86,83.22
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,79.93,89.47,85.73
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,79.7,87.05,84.11
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,74.82,86.09,82.91
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,77.59,87,83.82

In [10]:
# NaN 값이 하나라도 있는지 확인
has_nan = df.isnull().values.any()

print(f"NaN 값이 존재합니다: {has_nan}")

NaN 값이 존재합니다: False

In [11]:
df.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_3.csv',index=False,encoding='cp949')