In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_5.csv', encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률,물가지수,Dubai,Brent,WTI,달러
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,74.27,87.86,83.22,4.0,3.4,97.6,50.48,51.84,49.66,1125.1
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,79.93,89.47,85.73,4.0,3.4,97.6,50.16,50.63,48.36,1122.0
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,79.70,87.05,84.11,4.0,3.4,97.6,47.07,47.86,45.64,1122.1
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,74.82,86.09,82.91,4.0,3.4,97.6,47.30,48.72,46.46,1128.3
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,77.59,87.00,83.82,4.0,3.4,97.6,45.37,46.92,44.46,1124.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,80.03,156.04,115.59,13.5,2.4,114.4,71.88,73.62,69.94,1402.9
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,86.17,151.16,123.00,13.5,2.4,114.4,72.11,72.09,68.30,1415.1
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,80.77,160.16,129.20,13.5,2.4,114.4,71.65,72.19,68.59,1426.9
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,91.18,162.48,129.52,13.5,2.4,114.4,73.68,73.41,70.02,1431.9
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,82.02,145.88,124.52,13.5,2.4,114.4,73.54,73.19,70.08,1438.9

In [3]:
et = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전력거래금액\전력거래금액_연료원별.csv',encoding='cp949')

In [4]:
et

,기간,원자력_거래금액,유연탄_거래금액,무연탄_거래금액,유류_거래금액,LNG_거래금액,양수_거래금액,연료전지_거래금액,석탄가스화_거래금액,태양_거래금액,풍력_거래금액,수력_거래금액,해양_거래금액,바이오_거래금액,폐기물_거래금액,기타_거래금액
0,24-Nov,8265.095232,13287.128410,132.862509,26.769475,20229.827700,692.860819,689.731980,112.828651,862.374524,341.130151,257.561299,0.000000,1076.120497,0.0,360.4562
1,24-Oct,8588.915879,13217.943630,30.097901,19.822254,18910.170220,701.738373,723.369406,193.785958,1008.275604,250.980720,308.314130,0.000000,1186.478801,0.0,318.8871
2,24-Sep,11746.541560,23489.981300,262.589608,35.593204,24055.812260,756.975630,802.337483,251.278238,1424.453793,189.710768,457.140009,50.284500,1351.974204,0.0,370.8071
3,24-Aug,12705.645340,31346.203170,349.874736,88.844867,31186.642670,909.710367,887.586398,281.139281,1811.806862,177.834103,636.657729,48.193341,1538.447871,0.0,405.1528
4,24-Jul,12520.695720,24813.678480,228.351034,45.817067,27236.260260,779.434688,815.771858,218.054872,1278.940802,427.636092,925.299517,42.469777,1395.340893,0.0,428.6489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,02-May,3893.243362,3572.793034,234.171635,1198.878909,1456.482467,151.671592,0.000000,0.000000,0.000000,0.000000,63.768571,0.000000,0.000000,0.0,0.0000
271,02-Apr,3353.020391,3751.845699,211.757736,1359.556518,1451.904482,106.712272,0.000000,0.000000,0.000000,0.000000,35.803746,0.000000,0.000000,0.0,0.0000
272,02-Mar,3849.100948,3657.797318,174.105804,1308.115316,1816.806250,144.064345,0.000000,0.000000,0.000000,0.000000,20.277601,0.000000,0.000000,0.0,0.0000
273,02-Feb,3531.463383,3281.008111,201.632384,1126.945676,1701.001879,110.158100,0.000000,0.000000,0.000000,0.000000,37.878448,0.000000,0.000000,0.0,0.0000
274,02-Jan,3743.891802,3887.738231,312.736553,1555.305121,2223.493379,84.796644,0.000000,0.000000,0.000000,0.000000,64.173307,0.000000,0.000000,0.0,0.0000

In [5]:
et.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기간          275 non-null    object
 1   원자력_거래금액    275 non-null    float64
 2   유연탄_거래금액    275 non-null    float64
 3   무연탄_거래금액    275 non-null    float64
 4   유류_거래금액     275 non-null    float64
 5   LNG_거래금액    275 non-null    float64
 6   양수_거래금액     275 non-null    float64
 7   연료전지_거래금액   275 non-null    float64
 8   석탄가스화_거래금액  275 non-null    float64
 9   태양_거래금액     275 non-null    float64
 10  풍력_거래금액     275 non-null    float64
 11  수력_거래금액     275 non-null    float64
 12  해양_거래금액     275 non-null    float64
 13  바이오_거래금액    275 non-null    float64
 14  폐기물_거래금액    275 non-null    float64
 15  기타_거래금액     275 non-null    float64
dtypes: float64(15), object(1)
memory usage: 34.5+ KB

In [6]:
print(et['기간'])

0      24-Nov
1      24-Oct
2      24-Sep
3      24-Aug
4      24-Jul
        ...
270    02-May
271    02-Apr
272    02-Mar
273    02-Feb
274    02-Jan
Name: 기간, Length: 275, dtype: object

In [7]:
# 변환 함수 정의
def convert_period(period):
    # 연도와 월을 분리
    year, month = period.split('-')  # 수정: 연도와 월 순서로 분리
    # 년도가 50 이상이면 1900년대, 그 외에는 2000년대
    if int(year) >= 50:  # 연도를 판단할 기준 설정 (50 이상은 1900년대)
        full_year = f"19{year}"
    else:
        full_year = f"20{year}"
    # 월 이름을 숫자로 변환
    month_dict = {
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
        'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    full_month = month_dict[month]
    return f"{full_year}-{full_month}"

# '기간' 컬럼 변환 적용
et['변환된 기간'] = et['기간'].apply(convert_period)

In [8]:
et['변환된 기간']

0      2024-11
1      2024-10
2      2024-09
3      2024-08
4      2024-07
        ...
270    2002-05
271    2002-04
272    2002-03
273    2002-02
274    2002-01
Name: 변환된 기간, Length: 275, dtype: object

In [9]:
print(df['현물시장거래일'])

0      2017-05-30
1      2017-06-01
2      2017-06-08
3      2017-06-13
4      2017-06-15
          ...
749    2024-12-03
750    2024-12-05
751    2024-12-10
752    2024-12-12
753    2024-12-17
Name: 현물시장거래일, Length: 754, dtype: object

In [10]:
# df에서 '현물시장거래일'에서 연도-월만 추출
df['연도-월'] = pd.to_datetime(df['현물시장거래일']).dt.strftime('%Y-%m')

# 병합 수행
merged_df = pd.merge(df, et, left_on='연도-월', right_on='변환된 기간', how='left')

# NaN 값을 0으로 대체
merged_df.fillna(0, inplace=True)

# 결과 출력
print(merged_df)

         종가  육지 최저가  매수 건수  육지 체결건수  육지 체결물량  육지 매도물량  육지 매도건수  육지 평균가  \
0    128000  128000     32      158    11530   245653     1556  130445
1    130000  125000     20      274    14899   156778     1374  130037
2    133500  120000    128      588   135260   283418     1614  132362
3    125500  125500     12       34     2231   185603     1259  126757
4    119000  119000     17      190    16198   192981     1190  128969
..      ...     ...    ...      ...      ...      ...      ...     ...
749   74700   74700     45     3834   126304   243916     5138   74856
750   72700   72700     52     1498    90601   251886     2790   73948
751   67200   67000     92     1010    69358   347268     2157   68733
752   66900   66900     98     1107    67084   184940     1887   67499
753   62100   61300     59      823    85729   260551     1620   62684

     총 거래건수  육지 상한가  ...   연료전지_거래금액  석탄가스화_거래금액     태양_거래금액     풍력_거래금액  \
0       159  171600  ...   90.247575   62.147358  218.704144  120.327031
1       281  166400  ...  102.584206   40.625127  216.107715   76.252260
2       615  169000  ...  102.584206   40.625127  216.107715   76.252260
3        35  173500  ...  102.584206   40.625127  216.107715   76.252260
4       199  163100  ...  102.584206   40.625127  216.107715   76.252260
..      ...     ...  ...         ...         ...         ...         ...
749    3848   82300  ...    0.000000    0.000000    0.000000    0.000000
750    1505   82100  ...    0.000000    0.000000    0.000000    0.000000
751    1022   79900  ...    0.000000    0.000000    0.000000    0.000000
752    1114   73900  ...    0.000000    0.000000    0.000000    0.000000
753     828   73500  ...    0.000000    0.000000    0.000000    0.000000

        수력_거래금액    해양_거래금액    바이오_거래금액    폐기물_거래금액  기타_거래금액   변환된 기간
0    205.964476  33.513678  152.796717  783.812208  25.9971  2017-05
1    195.520295  31.159579  167.278645  767.842050  25.8617  2017-06
2    195.520295  31.159579  167.278645  767.842050  25.8617  2017-06
3    195.520295  31.159579  167.278645  767.842050  25.8617  2017-06
4    195.520295  31.159579  167.278645  767.842050  25.8617  2017-06
..          ...        ...         ...         ...      ...      ...
749    0.000000   0.000000    0.000000    0.000000   0.0000        0
750    0.000000   0.000000    0.000000    0.000000   0.0000        0
751    0.000000   0.000000    0.000000    0.000000   0.0000        0
752    0.000000   0.000000    0.000000    0.000000   0.0000        0
753    0.000000   0.000000    0.000000    0.000000   0.0000        0

[754 rows x 58 columns]

In [11]:
merged_df.tail(15)

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,연료전지_거래금액,석탄가스화_거래금액,태양_거래금액,풍력_거래금액,수력_거래금액,해양_거래금액,바이오_거래금액,폐기물_거래금액,기타_거래금액,변환된 기간
739,74900,74900,109,6091,146815,270115,8182,75095,6097,84100,...,723.369406,193.785958,1008.275604,250.980720,308.314130,0.0,1186.478801,0.0,318.8871,2024-10
740,74000,70000,187,2591,80622,177596,4153,74277,2600,82300,...,723.369406,193.785958,1008.275604,250.980720,308.314130,0.0,1186.478801,0.0,318.8871,2024-10
741,74800,74200,108,4266,147509,217573,5343,74866,4277,81400,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
742,75200,74000,96,2461,102315,204800,3198,75055,2476,82200,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
743,74900,74500,72,1511,108358,188927,2616,75166,1527,82700,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
744,75300,74700,74,1468,84366,141226,2024,75172,1471,82300,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
745,75400,74900,61,1519,83832,174559,2510,75462,1543,82800,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
746,75400,74100,66,1116,86542,154348,1820,75468,1140,82900,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
747,75200,74500,95,5232,175262,283080,6727,75361,5247,82900,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
748,74900,74200,50,4564,116080,245148,7258,75028,4570,82700,...,689.731980,112.828651,862.374524,341.130151,257.561299,0.0,1076.120497,0.0,360.4562,2024-11
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0000,0

# 전력 거래량

In [12]:
etv = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전력거래량\전력거래량_연료원별.csv',encoding='cp949')

In [13]:
etv

,기간,원자력_거래량,유연탄_거래량,무연탄_거래량,유류_거래량,LNG_거래량,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,Nov-24,15338.810200,11036.796460,109.973535,3.897590,12772.672410,372.422302,624.227254,89.212192,732.139587,301.954426,198.701034,0.000000,755.431187,0.000000,294.2086
1,Oct-24,16211.570480,11065.524270,22.912983,3.310888,11842.847750,404.727553,627.998254,147.125636,794.474436,217.318962,231.674727,0.000000,811.876285,0.000000,246.0398
2,Sep-24,15055.454320,14288.086030,175.916970,6.248554,13512.178920,351.958752,588.158067,149.050805,977.105243,139.462982,295.672155,37.934845,818.922765,0.000000,244.6474
3,Aug-24,14738.385710,18218.373310,215.347458,16.132442,16690.897470,371.179777,617.347652,158.330518,1173.412029,124.425065,389.772683,34.474741,889.903681,204.616589,46.6330
4,Jul-24,15665.953470,15353.720460,159.562560,5.662985,15002.789880,344.100319,626.564370,150.473717,890.377930,329.949938,628.628146,33.998321,879.593586,0.000000,299.3422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,May-02,9888.392036,8575.979243,480.929081,1795.936683,1924.278411,186.745534,0.000000,0.000000,0.000000,0.000000,108.261457,0.000000,0.000000,0.000000,0.0000
271,Apr-02,8320.172494,9018.772882,419.610044,2247.537184,1983.153457,146.749537,0.000000,0.000000,0.000000,0.000000,63.244540,0.000000,0.000000,0.000000,0.0000
272,Mar-02,9781.237709,8690.689372,340.592869,2081.186627,2446.945170,194.069889,0.000000,0.000000,0.000000,0.000000,33.466710,0.000000,0.000000,0.000000,0.0000
273,Feb-02,9070.631875,7739.215796,371.715581,1575.798008,2143.939848,135.757702,0.000000,0.000000,0.000000,0.000000,62.576194,0.000000,0.000000,0.000000,0.0000
274,Jan-02,9310.358657,9277.441022,638.716755,2144.606528,2805.428533,80.826385,0.000000,0.000000,0.000000,0.000000,95.453304,0.000000,0.000000,0.000000,0.0000

In [14]:
print(etv['기간'])

0      Nov-24
1      Oct-24
2      Sep-24
3      Aug-24
4      Jul-24
        ...
270    May-02
271    Apr-02
272    Mar-02
273    Feb-02
274    Jan-02
Name: 기간, Length: 275, dtype: object

In [15]:
# 변환 함수 정의
def convert_period(period):
    # 월과 년도를 분리
    month, year = period.split('-')
    # 년도가 24 이상이면 1900년대, 그 외에는 2000년대
    if int(year) >= 50:  # 연도를 판단할 기준 설정 (50 이상은 1900년대)
        full_year = f"19{year}"
    else:
        full_year = f"20{year}"
    # 월 이름을 숫자로 변환
    month_dict = {
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
        'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    full_month = month_dict[month]
    return f"{full_year}-{full_month}"

# '기간' 컬럼 변환 적용
etv['변환된 기간'] = etv['기간'].apply(convert_period)

In [16]:
etv['변환된 기간']

0      2024-11
1      2024-10
2      2024-09
3      2024-08
4      2024-07
        ...
270    2002-05
271    2002-04
272    2002-03
273    2002-02
274    2002-01
Name: 변환된 기간, Length: 275, dtype: object

In [17]:
# 병합 수행
merged_df2 = pd.merge(merged_df, etv, left_on='연도-월', right_on='변환된 기간', how='left')

# NaN 값을 0으로 대체
merged_df2.fillna(0, inplace=True)

# 결과 출력
print(merged_df2)

         종가  육지 최저가  매수 건수  육지 체결건수  육지 체결물량  육지 매도물량  육지 매도건수  육지 평균가  \
0    128000  128000     32      158    11530   245653     1556  130445
1    130000  125000     20      274    14899   156778     1374  130037
2    133500  120000    128      588   135260   283418     1614  132362
3    125500  125500     12       34     2231   185603     1259  126757
4    119000  119000     17      190    16198   192981     1190  128969
..      ...     ...    ...      ...      ...      ...      ...     ...
749   74700   74700     45     3834   126304   243916     5138   74856
750   72700   72700     52     1498    90601   251886     2790   73948
751   67200   67000     92     1010    69358   347268     2157   68733
752   66900   66900     98     1107    67084   184940     1887   67499
753   62100   61300     59      823    85729   260551     1620   62684

     총 거래건수  육지 상한가  ...    연료전지_거래량  석탄가스화_거래량      태양_거래량      풍력_거래량  \
0       159  171600  ...  115.854205  79.534357  269.437893  144.961113
1       281  166400  ...  125.613522  49.225984  249.895685   83.200117
2       615  169000  ...  125.613522  49.225984  249.895685   83.200117
3        35  173500  ...  125.613522  49.225984  249.895685   83.200117
4       199  163100  ...  125.613522  49.225984  249.895685   83.200117
..      ...     ...  ...         ...        ...         ...         ...
749    3848   82300  ...    0.000000   0.000000    0.000000    0.000000
750    1505   82100  ...    0.000000   0.000000    0.000000    0.000000
751    1022   79900  ...    0.000000   0.000000    0.000000    0.000000
752    1114   73900  ...    0.000000   0.000000    0.000000    0.000000
753     828   73500  ...    0.000000   0.000000    0.000000    0.000000

         수력_거래량     해양_거래량     바이오_거래량     폐기물_거래량   기타_거래량  변환된 기간_y
0    234.081271  43.454149  194.629826  813.463420  33.2927   2017-05
1    200.716632  39.042325  203.694015  792.574597  31.7079   2017-06
2    200.716632  39.042325  203.694015  792.574597  31.7079   2017-06
3    200.716632  39.042325  203.694015  792.574597  31.7079   2017-06
4    200.716632  39.042325  203.694015  792.574597  31.7079   2017-06
..          ...        ...         ...         ...      ...       ...
749    0.000000   0.000000    0.000000    0.000000   0.0000         0
750    0.000000   0.000000    0.000000    0.000000   0.0000         0
751    0.000000   0.000000    0.000000    0.000000   0.0000         0
752    0.000000   0.000000    0.000000    0.000000   0.0000         0
753    0.000000   0.000000    0.000000    0.000000   0.0000         0

[754 rows x 75 columns]

In [18]:
merged_df2.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드',
       '육지_체결_건수_주기성분', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', '한국남동발전_RPS',
       '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국중부발전_RPS',
       'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율', '경제성장률', '물가지수', 'Dubai',
       'Brent', 'WTI', '달러', '연도-월', '기간_x', '원자력_거래금액', '유연탄_거래금액',
       '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액', '양수_거래금액', '연료전지_거래금액', '석탄가스화_거래금액',
       '태양_거래금액', '풍력_거래금액', '수력_거래금액', '해양_거래금액', '바이오_거래금액', '폐기물_거래금액',
       '기타_거래금액', '변환된 기간_x', '기간_y', '원자력_거래량', '유연탄_거래량', '무연탄_거래량',
       '유류_거래량', 'LNG_거래량', '양수_거래량', '연료전지_거래량', '석탄가스화_거래량', '태양_거래량',
       '풍력_거래량', '수력_거래량', '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량',
       '변환된 기간_y'],
      dtype='object')

In [19]:
merged_df2 = merged_df2.drop(columns=['기간_x','기간_y','변환된 기간_x','변환된 기간_y'])

In [20]:
merged_df2.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드',
       '육지_체결_건수_주기성분', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', '한국남동발전_RPS',
       '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국중부발전_RPS',
       'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율', '경제성장률', '물가지수', 'Dubai',
       'Brent', 'WTI', '달러', '연도-월', '원자력_거래금액', '유연탄_거래금액', '무연탄_거래금액',
       '유류_거래금액', 'LNG_거래금액', '양수_거래금액', '연료전지_거래금액', '석탄가스화_거래금액', '태양_거래금액',
       '풍력_거래금액', '수력_거래금액', '해양_거래금액', '바이오_거래금액', '폐기물_거래금액', '기타_거래금액',
       '원자력_거래량', '유연탄_거래량', '무연탄_거래량', '유류_거래량', 'LNG_거래량', '양수_거래량',
       '연료전지_거래량', '석탄가스화_거래량', '태양_거래량', '풍력_거래량', '수력_거래량', '해양_거래량',
       '바이오_거래량', '폐기물_거래량', '기타_거래량'],
      dtype='object')

In [21]:
merged_df2.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_6.csv', encoding='cp949', index=False)