In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_6.csv',encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,366.777907,115.854205,79.534357,269.437893,144.961113,234.081271,43.454149,194.629826,813.463420,33.2927
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000

In [3]:
test = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적\전일전력수급실적_202301.csv', encoding='cp949')

In [4]:
test

,전일 전력수급 실적 목록,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,번호,일시,설비용량,공급능력,최대전력(MW),NaN,NaN,공급예비력,예비율
1,NaN,NaN,(MW),(MW),전년,금년,증가율,(MW),(%)
2,1,2023.01.31. 09:00,"138,643","101,699","59,840","84,058",40.5,"17,641",21
3,2,2023.01.30. 09:00,"138,643","101,644","61,339","83,568",36.2,"18,076",21.6
4,3,2023.01.29. 19:00,"138,643","98,222","65,026","69,956",7.6,"28,266",40.4
5,4,2023.01.28. 19:00,"138,643","98,523","68,009","74,081",8.9,"24,442",33
6,5,2023.01.27. 10:00,"138,643","103,908","82,283","89,833",9.2,"14,075",15.7
7,6,2023.01.26. 11:00,"138,399","103,138","82,938","92,613",11.7,"10,525",11.4
8,7,2023.01.25. 18:00,"138,399","103,636","82,984","87,275",5.2,"16,361",18.7
9,8,2023.01.24. 19:00,"138,399","101,038","86,241","72,643",-15.8,"28,395",39.1
10,9,2023.01.23. 23:59,"138,399","100,500","83,085","62,575",-24.7,"37,925",60.6
11,10,2023.01.22. 23:59,"138,399","98,334","67,726","60,143",-11.2,"38,191",63.5
12,11,2023.01.21. 01:00,"138,399","99,057","72,105","68,910",-4.4,"30,147",43.7
13,12,2023.01.20. 10:00,"138,399","105,249","86,522","81,244",-6.1,"24,005",29.5
14,13,2023.01.19. 09:00,"138,399","103,674","87,884","84,465",-3.9,"19,209",22.7
15,14,2023.01.18. 10:00,"138,399","104,805","88,076","85,627",-2.8,"19,178",22.4
16,15,2023.01.17. 10:00,"138,280","107,179","87,579","86,815",-0.9,"20,364",23.5
17,16,2023.01.16. 18:00,"138,280","106,545","87,967","84,582",-3.8,"21,963",26
18,17,2023.01.15. 19:00,"138,280","103,949","70,090","69,166",-1.3,"34,783",50.3
19,18,2023.01.14. 11:00,"138,280","102,803","71,585","69,388",-3.1,"33,415",48.2
20,19,2023.01.13. 11:00,"138,280","104,134","87,278","81,907",-6.2,"22,227",27.1
21,20,2023.01.12. 09:00,"138,280","105,269","89,115","82,287",-7.7,"22,982",27.9
22,21,2023.01.11. 09:00,"138,280","103,840","88,365","83,078",-6,"20,762",25
23,22,2023.01.10. 09:00,"138,193","103,335","88,103","83,973",-4.7,"19,362",23.1
24,23,2023.01.09. 10:00,"138,193","102,864","85,301","84,683",-0.7,"18,181",21.5
25,24,2023.01.08. 19:00,"138,193","98,882","67,889","68,090",0.3,"30,792",45.2
26,25,2023.01.07. 19:00,"138,193","97,543","70,793","70,729",-0.1,"26,814",37.9
27,26,2023.01.06. 10:00,"138,193","100,386","85,425","86,606",1.4,"13,780",15.9
28,27,2023.01.05. 10:00,"138,193","103,422","84,761","89,012",5,"14,410",16.2
29,28,2023.01.04. 10:00,"138,193","105,387","89,352","87,191",-2.4,"18,196",20.9
30,29,2023.01.03. 09:00,"138,018","103,751","85,161","87,110",2.3,"16,641",19.1
31,30,2023.01.02. 18:00,"138,018","104,849","85,196","85,269",0.1,"19,580",23
32,31,2023.01.01. 19:00,"138,018","103,636","68,173","66,465",-2.5,"37,171",55.9

In [5]:
import os
import win32com.client

# 경로 설정
path = r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적'
output_path = path  # 변환된 CSV 파일 저장 경로 (필요 시 변경)

# 디렉토리의 모든 파일 리스트 가져오기
file_list = os.listdir(path)

# .xls 파일만 필터링
xls_files = [file for file in file_list if file.endswith('.xls')]

# Excel Application 객체 생성
excel = win32com.client.Dispatch("Excel.Application")
excel.DisplayAlerts = False  # 파일 저장 시 알림 비활성화

try:
    for xls_file in xls_files:
        xls_path = os.path.join(path, xls_file)  # 원본 파일 경로
        csv_file = os.path.splitext(xls_file)[0] + '.csv'  # 확장자를 .csv로 변경
        csv_path = os.path.join(output_path, csv_file)  # 저장할 파일 경로

        try:
            # Excel 파일 열기
            workbook = excel.Workbooks.Open(xls_path)
            
            # CSV로 저장
            workbook.SaveAs(csv_path, FileFormat=6)  # FileFormat=6은 CSV 형식
            workbook.Close()  # 파일 닫기

            print(f"Converted: {xls_file} -> {csv_file}")
        except Exception as e:
            print(f"Failed to convert {xls_file}: {e}")
finally:
    excel.Quit()  # Excel 프로세스 종료

Converted: 전일전력수급실적_201701.xls -> 전일전력수급실적_201701.csv
Converted: 전일전력수급실적_201702.xls -> 전일전력수급실적_201702.csv
Converted: 전일전력수급실적_201703.xls -> 전일전력수급실적_201703.csv
Converted: 전일전력수급실적_201704.xls -> 전일전력수급실적_201704.csv
Converted: 전일전력수급실적_201705.xls -> 전일전력수급실적_201705.csv
Converted: 전일전력수급실적_201706.xls -> 전일전력수급실적_201706.csv
Converted: 전일전력수급실적_201707.xls -> 전일전력수급실적_201707.csv
Converted: 전일전력수급실적_201708.xls -> 전일전력수급실적_201708.csv
Converted: 전일전력수급실적_201709.xls -> 전일전력수급실적_201709.csv
Converted: 전일전력수급실적_201710.xls -> 전일전력수급실적_201710.csv
Converted: 전일전력수급실적_201711.xls -> 전일전력수급실적_201711.csv
Converted: 전일전력수급실적_201712.xls -> 전일전력수급실적_201712.csv
Converted: 전일전력수급실적_201801.xls -> 전일전력수급실적_201801.csv
Converted: 전일전력수급실적_201802.xls -> 전일전력수급실적_201802.csv
Converted: 전일전력수급실적_201803.xls -> 전일전력수급실적_201803.csv
Converted: 전일전력수급실적_201804.xls -> 전일전력수급실적_201804.csv
Converted: 전일전력수급실적_201805.xls -> 전일전력수급실적_201805.csv
Converted: 전일전력수급실적_201806.xls -> 전일전력수급실적_201806.csv
Converted: 전일전력수급실적_201807.xls -> 전일전력수급실적_201807.csv
Converted: 전일전력수급실적_201808.xls -> 전일전력수급실적_201808.csv
Converted: 전일전력수급실적_201809.xls -> 전일전력수급실적_201809.csv
Converted: 전일전력수급실적_201810.xls -> 전일전력수급실적_201810.csv
Converted: 전일전력수급실적_201811.xls -> 전일전력수급실적_201811.csv
Converted: 전일전력수급실적_201812.xls -> 전일전력수급실적_201812.csv
Converted: 전일전력수급실적_201901.xls -> 전일전력수급실적_201901.csv
Converted: 전일전력수급실적_201902.xls -> 전일전력수급실적_201902.csv
Converted: 전일전력수급실적_201903.xls -> 전일전력수급실적_201903.csv
Converted: 전일전력수급실적_201904.xls -> 전일전력수급실적_201904.csv
Converted: 전일전력수급실적_201905.xls -> 전일전력수급실적_201905.csv
Converted: 전일전력수급실적_201906.xls -> 전일전력수급실적_201906.csv
Converted: 전일전력수급실적_201907.xls -> 전일전력수급실적_201907.csv
Converted: 전일전력수급실적_201908.xls -> 전일전력수급실적_201908.csv
Converted: 전일전력수급실적_201909.xls -> 전일전력수급실적_201909.csv
Converted: 전일전력수급실적_201910.xls -> 전일전력수급실적_201910.csv
Converted: 전일전력수급실적_201911.xls -> 전일전력수급실적_201911.csv
Converted: 전일전력수급실적_201912.xls -> 전일전력수급실적_201912.csv

In [6]:
import os
import pandas as pd
from datetime import datetime, timedelta

# ========== 1) 경로 & 파일 목록 설정 ==========
path = r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적'
file_list = [f for f in os.listdir(path) if f.endswith('.csv')]

# ========== 2) 전처리 함수 ==========
def process_dataframe(df: pd.DataFrame, columns_to_drop: list) -> pd.DataFrame:
    """
    주어진 데이터프레임에 대해 특정 열 제거, 0번 행을 컬럼으로 설정, 초기화 과정 수행
    Args:
        df (pd.DataFrame): 처리할 데이터프레임
        columns_to_drop (list): 제거할 열 이름 목록
    Returns:
        pd.DataFrame: 처리된 데이터프레임
    """
    # 지정된 열 제거
    df = df.drop(columns=columns_to_drop, axis=1)
    
    # 0번 행을 새로운 컬럼명으로 설정
    df.columns = df.iloc[0]
    
    # 0번 행 제거
    df = df.drop(index=0)
    
    # 인덱스 초기화
    df = df.reset_index(drop=True)
    
    # 추가로 1번 행 제거(예시 코드에 나와 있으므로)
    df = df.iloc[1:].reset_index(drop=True)
    return df

# ========== 3) 결측 날짜(NaN) 채우기 함수 ==========
def fill_missing_dates(df: pd.DataFrame, date_col: str = '일시') -> pd.DataFrame:
    """
    '일시' 열의 NaN을 바로 윗행(직전 행)의 날짜 - 1일 로 채운다.
    시간은 의미 없으므로 '00:00'으로 통일.

    Args:
        df (pd.DataFrame): 처리할 데이터프레임
        date_col (str): 날짜가 들어있는 열 이름 (기본값: '일시')
    Returns:
        pd.DataFrame: '일시' 열의 결측이 채워진 데이터프레임
    """

    # 먼저 '일시' 컬럼을 datetime 파싱 시도
    # (CSV가 "YYYY.MM.DD. HH:MM" 형태라면 아래와 같이 포맷 지정. 아니라면 포맷 수정 필요.)
    def try_parse_date(x):
        try:
            return datetime.strptime(x, '%Y.%m.%d. %H:%M')
        except:
            return pd.NaT  # 파싱 실패 시 NaT로
    
    # 문자열로 변환 (혹시 float 등 다른 타입일 수 있으니)
    df[date_col] = df[date_col].astype(str)
    
    # datetime 형으로 변환 시도
    parsed_dates = df[date_col].apply(try_parse_date)
    
    # NaT(결측) 존재 시, 바로 이전 행 기준 하루 전날로 채움
    for i in range(len(parsed_dates)):
        if pd.isna(parsed_dates.iloc[i]):
            if i == 0:
                # 첫 행부터 NaN이라면 임의값(1900-01-01 00:00)으로 채움
                parsed_dates.iloc[i] = datetime(1900, 1, 1, 0, 0)
            else:
                # 직전 날짜에 하루 빼서 할당
                parsed_dates.iloc[i] = parsed_dates.iloc[i - 1] - timedelta(days=1)

    # 최종 날짜 컬럼을 다시 문자열 형태(예: YYYY.MM.DD. 00:00)로 저장
    df[date_col] = parsed_dates.apply(lambda d: d.strftime('%Y.%m.%d. 00:00'))
    
    return df

# ========== 4) 모든 CSV 처리하여 하나로 합치기 ==========
all_data = []
columns_to_drop = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']  # 예시

for file_name in file_list:
    csv_path = os.path.join(path, file_name)
    
    # CSV 로드
    tmp_df = pd.read_csv(csv_path, encoding='cp949')
    
    # (1) 전처리
    tmp_df = process_dataframe(tmp_df, columns_to_drop)
    
    # (2) 결측 날짜 채우기
    tmp_df = fill_missing_dates(tmp_df, date_col='일시')
    
    # 리스트에 추가
    all_data.append(tmp_df)

# ========== 5) 하나의 데이터프레임으로 병합 ==========
final_df = pd.concat(all_data, ignore_index=True)

# ========== 6) 결과 확인 ==========
print(final_df.head())
print("최종 행 개수:", len(final_df))

0 번호                 일시     설비용량    공급능력   공급예비력   예비율
0  1  2017.01.31. 00:00  106,238  94,937  17,903  23.2
1  2  2017.01.30. 00:00  106,238  91,686  29,052  46.4
2  3  2017.01.29. 00:00  106,238  89,100  31,433  54.5
3  4  2017.01.28. 00:00  106,238  89,072  32,630  57.8
4  5  2017.01.27. 00:00  106,238  91,078  28,170  44.8
최종 행 개수: 2935

In [7]:
final_df.head(30)

0   번호                 일시     설비용량    공급능력   공급예비력   예비율
0    1  2017.01.31. 00:00  106,238  94,937  17,903  23.2
1    2  2017.01.30. 00:00  106,238  91,686  29,052  46.4
2    3  2017.01.29. 00:00  106,238  89,100  31,433  54.5
3    4  2017.01.28. 00:00  106,238  89,072  32,630  57.8
4    5  2017.01.27. 00:00  106,238  91,078  28,170  44.8
5    6  2017.01.26. 00:00  106,238  95,631  16,961  21.6
6    7  2017.01.25. 00:00  106,238  95,823  14,137  17.3
7    8  2017.01.24. 00:00  106,238  96,526  13,642  16.5
8    9  2017.01.23. 00:00  106,238  95,443  11,786  14.1
9   10  2017.01.22. 00:00  106,238  91,965  25,216  37.8
10  11  2017.01.21. 00:00  106,238  90,927  19,702  27.7
11  12  2017.01.20. 00:00  106,238  94,284  12,519  15.3
12  13  2017.01.19. 00:00  106,238  94,146  13,975  17.4
13  14  2017.01.18. 00:00  106,238  95,091  15,132  18.9
14  15  2017.01.17. 00:00  105,866  94,280  12,599  15.4
15  16  2017.01.16. 00:00  105,866  93,313  12,523  15.5
16  17  2017.01.15. 00:00  105,866  91,004  24,983  37.8
17  18  2017.01.14. 00:00  105,866  92,828  22,934  32.8
18  19  2017.01.13. 00:00  105,866  94,912  14,833  18.5
19  20  2017.01.12. 00:00  105,866  94,338  15,935  20.3
20  21  2017.01.11. 00:00  105,866  94,862  15,964  20.2
21  22  2017.01.10. 00:00  105,866  93,039  16,349  21.3
22  23  2017.01.09. 00:00  105,866  92,252  17,162  22.9
23  24  2017.01.08. 00:00  105,866  90,644  31,586  53.5
24  25  2017.01.07. 00:00  105,866  90,470  25,591  39.4
25  26  2017.01.06. 00:00  105,866  92,841  18,781  25.4
26  27  2017.01.05. 00:00  105,866  92,474  16,170  21.2
27  28  2017.01.04. 00:00  105,866  92,353  16,575  21.9
28  29  2017.01.03. 00:00  105,866  94,223  18,752  24.8
29  30  2017.01.02. 00:00  105,866  92,573  19,672    27

In [8]:
print(final_df['일시'])

0       2017.01.31. 00:00
1       2017.01.30. 00:00
2       2017.01.29. 00:00
3       2017.01.28. 00:00
4       2017.01.27. 00:00
              ...
2930    2024.12.05. 00:00
2931    2024.12.04. 00:00
2932    2024.12.03. 00:00
2933    2024.12.02. 00:00
2934    2024.12.01. 00:00
Name: 일시, Length: 2935, dtype: object

In [9]:
print(df['현물시장거래일'])

0      2017-05-30
1      2017-06-01
2      2017-06-08
3      2017-06-13
4      2017-06-15
          ...
749    2024-12-03
750    2024-12-05
751    2024-12-10
752    2024-12-12
753    2024-12-17
Name: 현물시장거래일, Length: 754, dtype: object

In [10]:
import pandas as pd

# 1. final_df의 '일시' 열을 날짜 형식으로 변환
final_df['일시_변환'] = pd.to_datetime(final_df['일시'], format='%Y.%m.%d. %H:%M').dt.date

# 2. df의 '현물시장거래일'을 날짜 형식으로 변환
df['현물시장거래일_변환'] = pd.to_datetime(df['현물시장거래일']).dt.date

# 3. 병합 수행
merged_df = pd.merge(final_df, df, left_on='일시_변환', right_on='현물시장거래일_변환', how='inner')

# 4. df 기준으로 고유한 행만 유지
merged_df = merged_df.drop_duplicates(subset=['현물시장거래일_변환'])

# 결과 출력
merged_df

,번호,일시,설비용량,공급능력,공급예비력,예비율,일시_변환,종가,육지 최저가,매수 건수,...,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량,현물시장거래일_변환
0,2,2017.05.30. 00:00,"111,292","82,497","12,610",18,2017-05-30,128000,128000,32,...,115.854205,79.534357,269.437893,144.961113,234.081271,43.454149,194.629826,813.463420,33.2927,2017-05-30
1,2,2017.06.29. 00:00,"113,705","87,585","12,627",16.8,2017-06-29,129000,122500,103,...,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079,2017-06-29
2,4,2017.06.27. 00:00,"113,705","87,531","14,332",19.6,2017-06-27,124500,110000,37,...,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079,2017-06-27
3,9,2017.06.22. 00:00,"112,779","86,466","13,270",18.1,2017-06-22,125000,120000,11,...,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079,2017-06-22
4,11,2017.06.20. 00:00,"111,729","85,132","11,171",15.1,2017-06-20,129000,123000,61,...,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079,2017-06-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,1,2024.12.17. 00:00,"152,833","108,091","27,031",33.3,2024-12-17,62100,61300,59,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,2024-12-17
758,6,2024.12.12. 00:00,"152,833","102,817","23,521",29.7,2024-12-12,66900,66900,98,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,2024-12-12
759,8,2024.12.10. 00:00,"152,821","101,819","23,000",29.2,2024-12-10,67200,67000,92,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,2024-12-10
760,13,2024.12.05. 00:00,"152,821","103,447","27,072",35.4,2024-12-05,72700,72700,52,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,2024-12-05
761,15,2024.12.03. 00:00,"152,821","104,117","26,448",34.1,2024-12-03,74700,74700,45,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,2024-12-03

In [11]:
# 1. '일시' 열을 시간 타입으로 변환
merged_df['일시'] = pd.to_datetime(merged_df['일시'], format='%Y.%m.%d. %H:%M')

# 2. '일시' 열을 기준으로 데이터프레임 정렬
merged_df = merged_df.sort_values(by='일시').reset_index(drop=True)

# 결과 출력
print(merged_df)

     번호         일시     설비용량     공급능력   공급예비력   예비율       일시_변환      종가  \
0     2 2017-05-30  111,292   82,497  12,610    18  2017-05-30  128000
1    30 2017-06-01  111,292   81,837  12,984  18.9  2017-06-01  130000
2    23 2017-06-08  111,292   81,647  14,894  22.3  2017-06-08  133500
3    18 2017-06-13  112,316   84,907  16,901  24.9  2017-06-13  125500
4    16 2017-06-15  112,316   84,747  14,501  20.6  2017-06-15  119000
..   ..        ...      ...      ...     ...   ...         ...     ...
749  15 2024-12-03  152,821  104,117  26,448  34.1  2024-12-03   74700
750  13 2024-12-05  152,821  103,447  27,072  35.4  2024-12-05   72700
751   8 2024-12-10  152,821  101,819  23,000  29.2  2024-12-10   67200
752   6 2024-12-12  152,833  102,817  23,521  29.7  2024-12-12   66900
753   1 2024-12-17  152,833  108,091  27,031  33.3  2024-12-17   62100

     육지 최저가  매수 건수  ...    연료전지_거래량  석탄가스화_거래량      태양_거래량      풍력_거래량  \
0    128000     32  ...  115.854205  79.534357  269.437893  144.961113
1    125000     20  ...  125.613522  49.225984  249.895685   83.200117
2    120000    128  ...  125.613522  49.225984  249.895685   83.200117
3    125500     12  ...  125.613522  49.225984  249.895685   83.200117
4    119000     17  ...  125.613522  49.225984  249.895685   83.200117
..      ...    ...  ...         ...        ...         ...         ...
749   74700     45  ...    0.000000   0.000000    0.000000    0.000000
750   72700     52  ...    0.000000   0.000000    0.000000    0.000000
751   67000     92  ...    0.000000   0.000000    0.000000    0.000000
752   66900     98  ...    0.000000   0.000000    0.000000    0.000000
753   61300     59  ...    0.000000   0.000000    0.000000    0.000000

         수력_거래량     해양_거래량     바이오_거래량     폐기물_거래량   기타_거래량  현물시장거래일_변환
0    234.081271  43.454149  194.629826  813.463420  33.2927  2017-05-30
1    200.716632  39.042325  203.694015  792.574597  31.7079  2017-06-01
2    200.716632  39.042325  203.694015  792.574597  31.7079  2017-06-08
3    200.716632  39.042325  203.694015  792.574597  31.7079  2017-06-13
4    200.716632  39.042325  203.694015  792.574597  31.7079  2017-06-15
..          ...        ...         ...         ...      ...         ...
749    0.000000   0.000000    0.000000    0.000000   0.0000  2024-12-03
750    0.000000   0.000000    0.000000    0.000000   0.0000  2024-12-05
751    0.000000   0.000000    0.000000    0.000000   0.0000  2024-12-10
752    0.000000   0.000000    0.000000    0.000000   0.0000  2024-12-12
753    0.000000   0.000000    0.000000    0.000000   0.0000  2024-12-17

[754 rows x 79 columns]

In [12]:
merged_df.columns

Index(['번호', '일시', '설비용량', '공급능력', '공급예비력', '예비율', '일시_변환', '종가', '육지 최저가',
       '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수', '육지 평균가', '총 거래건수',
       '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가', '총 거래물량', '거래금액',
       '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드', '육지_체결_건수_주기성분',
       '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', '한국남동발전_RPS', '한국남부발전_RPS',
       '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국중부발전_RPS', 'SMP_최소',
       'SMP_최대', 'SMP_평균', '의무RPS비율', '경제성장률', '물가지수', 'Dubai', 'Brent', 'WTI',
       '달러', '연도-월', '원자력_거래금액', '유연탄_거래금액', '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액',
       '양수_거래금액', '연료전지_거래금액', '석탄가스화_거래금액', '태양_거래금액', '풍력_거래금액', '수력_거래금액',
       '해양_거래금액', '바이오_거래금액', '폐기물_거래금액', '기타_거래금액', '원자력_거래량', '유연탄_거래량',
       '무연탄_거래량', '유류_거래량', 'LNG_거래량', '양수_거래량', '연료전지_거래량', '석탄가스화_거래량',
       '태양_거래량', '풍력_거래량', '수력_거래량', '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량',
       '현물시장거래일_변환'],
      dtype='object')

In [13]:
merged_df = merged_df.drop(columns=['일시_변환','년도','연도-월','현물시장거래일_변환','현물시장거래일'],axis=1)
merged_df

,번호,일시,설비용량,공급능력,공급예비력,예비율,종가,육지 최저가,매수 건수,육지 체결건수,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,2,2017-05-30,"111,292","82,497","12,610",18,128000,128000,32,158,...,366.777907,115.854205,79.534357,269.437893,144.961113,234.081271,43.454149,194.629826,813.463420,33.2927
1,30,2017-06-01,"111,292","81,837","12,984",18.9,130000,125000,20,274,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
2,23,2017-06-08,"111,292","81,647","14,894",22.3,133500,120000,128,588,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
3,18,2017-06-13,"112,316","84,907","16,901",24.9,125500,125500,12,34,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
4,16,2017-06-15,"112,316","84,747","14,501",20.6,119000,119000,17,190,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,15,2024-12-03,"152,821","104,117","26,448",34.1,74700,74700,45,3834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
750,13,2024-12-05,"152,821","103,447","27,072",35.4,72700,72700,52,1498,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
751,8,2024-12-10,"152,821","101,819","23,000",29.2,67200,67000,92,1010,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
752,6,2024-12-12,"152,833","102,817","23,521",29.7,66900,66900,98,1107,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
753,1,2024-12-17,"152,833","108,091","27,031",33.3,62100,61300,59,823,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000

In [14]:
merged_df = merged_df.rename(columns={'설비용량': '전력_설비용량', 
                                      '공급능력': '전력_공급능력', 
                                      '공급예비력': '전력_공급예비력', 
                                      '예비율': '전력_예비율'})

In [15]:
merged_df = merged_df.drop(columns=['번호','총 거래물량','순번'],axis=1)

In [16]:
merged_df.head()

,일시,전력_설비용량,전력_공급능력,전력_공급예비력,전력_예비율,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,2017-05-30,"111,292","82,497","12,610",18,128000,128000,32,158,11530,...,366.777907,115.854205,79.534357,269.437893,144.961113,234.081271,43.454149,194.629826,813.463420,33.2927
1,2017-06-01,"111,292","81,837","12,984",18.9,130000,125000,20,274,14899,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
2,2017-06-08,"111,292","81,647","14,894",22.3,133500,120000,128,588,135260,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
3,2017-06-13,"112,316","84,907","16,901",24.9,125500,125500,12,34,2231,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079
4,2017-06-15,"112,316","84,747","14,501",20.6,119000,119000,17,190,16198,...,359.692272,125.613522,49.225984,249.895685,83.200117,200.716632,39.042325,203.694015,792.574597,31.7079

In [17]:
len(merged_df)

754

In [18]:
merged_df.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_7.csv', encoding='cp949', index=False)