In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_2.csv',encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,포천민자발전_RPS,포천파워_RPS,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
496,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
497,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
498,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
499,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"

In [3]:
smp_2020 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2020.xlsx')
smp_2021 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2021.xlsx')
smp_2022 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2022.xlsx')
smp_2023 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2023.xlsx')
smp_2024 = pd.read_excel(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\SMP\smp_land_2024.xlsx')

In [5]:
smp_2022.head()

,년도별 계통한계가격 리스트 (원/kWh),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,구분,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,최소,최대,평균
1,20220101,160.07,160.07,160.07,124.73,103.55,130.44,119.99,103.59,92.69,...,154.89,155.63,155.76,156.04,155.29,156.31,156.31,87.39,160.07,126.81
2,20220102,147.47,93.03,91.4,87.96,89.39,92.05,94.36,94.64,93.03,...,156.04,156.17,156.17,156.17,155.09,155.2,155.52,87.96,156.17,116.43
3,20220103,124,122.79,88.64,88.64,122.69,90.47,162.82,162.82,166.28,...,171.48,171.27,169.68,162.82,162.82,162.82,162.82,88.64,172.74,154.25
4,20220104,156.58,161.69,156.58,156.58,156.58,156.58,156.58,165.03,165.56,...,162.73,162.65,161,160.72,157.28,156.26,161.21,156.26,196.49,163.53

In [6]:
# 데이터프레임의 0번 인덱스를 컬럼으로 설정하는 함수
def set_first_row_as_columns(df):
    df.columns = df.iloc[0]  # 0번 인덱스를 컬럼으로 설정
    df = df[1:].reset_index(drop=True)  # 0번 인덱스 데이터 제거 후 인덱스 리셋
    return df

# 데이터프레임 리스트
dataframes = [smp_2020,smp_2021,smp_2022, smp_2023, smp_2024]

# 각 데이터프레임에 함수 적용
smp_2020, smp_2021, smp_2022, smp_2023, smp_2024 = [set_first_row_as_columns(df) for df in dataframes]

In [7]:
smp_2020.head()

,구분,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,최소,최대,평균
0,20200101,88.55,88.49,83.16,83.11,80.92,81.65,80.95,79.82,80.95,...,81.58,82,84.15,81.87,81.87,84.15,84.15,77.83,88.55,81.85
1,20200102,80.67,82.6,79.44,79.04,82.6,80.21,82.6,86.65,89.32,...,87.48,87.49,87.49,84.63,84.1,84.1,84.1,79.04,89.69,85.52
2,20200103,83,81.71,82.6,81.26,81.31,82.6,88.64,88.86,89.22,...,87.82,87.91,87.91,84.22,83.38,82.56,84.07,81.26,89.84,85.68
3,20200104,83.93,81.34,81.34,81.35,81.35,82.58,83.93,84.6,84.59,...,85.39,85.4,85.4,84.72,82.73,82.73,85.41,79.9,85.41,83.49
4,20200105,87.33,87.2,86.96,78.87,79.34,79.38,82.54,80.5,82.54,...,82.85,83.68,83.72,82.79,81.59,81.6,83.8,78.27,87.33,82.14

In [8]:
smp_combined = pd.concat([smp_2020, smp_2021, smp_2022, smp_2023, smp_2024], ignore_index=True)
smp_combined

,구분,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,최소,최대,평균
0,20200101,88.55,88.49,83.16,83.11,80.92,81.65,80.95,79.82,80.95,...,81.58,82,84.15,81.87,81.87,84.15,84.15,77.83,88.55,81.85
1,20200102,80.67,82.6,79.44,79.04,82.6,80.21,82.6,86.65,89.32,...,87.48,87.49,87.49,84.63,84.1,84.1,84.1,79.04,89.69,85.52
2,20200103,83,81.71,82.6,81.26,81.31,82.6,88.64,88.86,89.22,...,87.82,87.91,87.91,84.22,83.38,82.56,84.07,81.26,89.84,85.68
3,20200104,83.93,81.34,81.34,81.35,81.35,82.58,83.93,84.6,84.59,...,85.39,85.4,85.4,84.72,82.73,82.73,85.41,79.9,85.41,83.49
4,20200105,87.33,87.2,86.96,78.87,79.34,79.38,82.54,80.5,82.54,...,82.85,83.68,83.72,82.79,81.59,81.6,83.8,78.27,87.33,82.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808,20241213,108.02,98.56,91.58,91.13,91.66,111.58,101.9,141.19,154.1,...,142.66,142.66,141.2,117.27,123.01,141.19,111.93,91.13,166.91,129.67
1809,20241214,103.49,92.66,92.12,91.67,91.7,92.25,96.32,101.03,103.13,...,103.61,103.93,103.38,103.38,102.84,102.95,101.51,91.67,103.93,100.41
1810,20241215,98.4,83.15,83.15,82.32,82.32,83.15,92.18,96.58,111.86,...,110.46,110.63,110.98,102.86,111.16,102.38,102.39,82.32,133.67,105.73
1811,20241216,111.06,99.87,80.38,80.34,80.38,111.41,100.92,134.1,146.9,...,142.79,140.34,139.4,136.34,135.78,141.2,116.31,80.34,170.67,131.87
1812,20241217,93.08,84.67,82.02,82.02,82.02,91.56,96.54,141.2,145.49,...,140.86,142.22,137.95,141.19,119.76,101.93,100.84,82.02,145.88,124.52

In [9]:
df.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드',
       '육지_체결_건수_주기성분', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', 'GS EPS_RPS',
       'GS동해전력_RPS', '대륜발전_RPS', '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS',
       '에스파워_RPS', '파주에너지서비스_RPS', '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS',
       '한국남동발전_RPS', '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS',
       '한국수자원공사_RPS', '한국중부발전_RPS', '한국지역난방공사_RPS'],
      dtype='object')

In [10]:
df['현물시장거래일'].head()

0    2020-01-02
1    2020-01-07
2    2020-01-09
3    2020-01-14
4    2020-01-16
Name: 현물시장거래일, dtype: object

In [11]:
df['현물시장거래일'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 500 entries, 0 to 499
Series name: 현물시장거래일
Non-Null Count  Dtype
--------------  -----
500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

In [12]:
# 최소, 최대, 평균 컬럼 이름 변경
smp_combined.rename(columns={
    '최소': 'SMP_최소',
    '최대': 'SMP_최대',
    '평균': 'SMP_평균',
    '구분' : '현물시장거래일'
}, inplace=True)

print(smp_combined.columns)

Index(['현물시장거래일', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10h',
       '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h',
       '21h', '22h', '23h', '24h', 'SMP_최소', 'SMP_최대', 'SMP_평균'],
      dtype='object', name=0)

In [13]:
# int64 형식의 날짜를 문자열로 변환 후, pd.to_datetime 사용
smp_combined['현물시장거래일'] = pd.to_datetime(smp_combined['현물시장거래일'].astype(str), format='%Y%m%d')

In [14]:
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])

In [15]:
smp_combined.head()

,현물시장거래일,1h,2h,3h,4h,5h,6h,7h,8h,9h,...,18h,19h,20h,21h,22h,23h,24h,SMP_최소,SMP_최대,SMP_평균
0,2020-01-01,88.55,88.49,83.16,83.11,80.92,81.65,80.95,79.82,80.95,...,81.58,82,84.15,81.87,81.87,84.15,84.15,77.83,88.55,81.85
1,2020-01-02,80.67,82.6,79.44,79.04,82.6,80.21,82.6,86.65,89.32,...,87.48,87.49,87.49,84.63,84.1,84.1,84.1,79.04,89.69,85.52
2,2020-01-03,83,81.71,82.6,81.26,81.31,82.6,88.64,88.86,89.22,...,87.82,87.91,87.91,84.22,83.38,82.56,84.07,81.26,89.84,85.68
3,2020-01-04,83.93,81.34,81.34,81.35,81.35,82.58,83.93,84.6,84.59,...,85.39,85.4,85.4,84.72,82.73,82.73,85.41,79.9,85.41,83.49
4,2020-01-05,87.33,87.2,86.96,78.87,79.34,79.38,82.54,80.5,82.54,...,82.85,83.68,83.72,82.79,81.59,81.6,83.8,78.27,87.33,82.14

In [16]:
df['현물시장거래일'].head()

0   2020-01-02
1   2020-01-07
2   2020-01-09
3   2020-01-14
4   2020-01-16
Name: 현물시장거래일, dtype: datetime64[ns]

In [17]:
# 필요한 컬럼만 선택 (현물시장거래일, SMP_최소, SMP_최대, SMP_평균)
smp_combined_subset = smp_combined[['현물시장거래일', 'SMP_최소', 'SMP_최대', 'SMP_평균']]

# df와 smp_combined 병합 (현물시장거래일 기준)
df = pd.merge(df, smp_combined_subset, on='현물시장거래일', how='left')

df.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.5,85.84
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.1
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62

In [18]:
df.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드',
       '육지_체결_건수_주기성분', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', 'GS EPS_RPS',
       'GS동해전력_RPS', '대륜발전_RPS', '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS',
       '에스파워_RPS', '파주에너지서비스_RPS', '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS',
       '한국남동발전_RPS', '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS',
       '한국수자원공사_RPS', '한국중부발전_RPS', '한국지역난방공사_RPS', 'SMP_최소', 'SMP_최대',
       'SMP_평균'],
      dtype='object')

In [19]:
# NaN 값이 하나라도 있는지 확인
has_nan = df.isnull().values.any()

print(f"NaN 값이 존재합니다: {has_nan}")

NaN 값이 존재합니다: False

In [20]:
# 각 열의 NaN 값 개수 확인
nan_counts = df.isnull().sum()

print("각 열의 NaN 값 개수:")
print(nan_counts)

각 열의 NaN 값 개수:
종가               0
육지 최저가           0
매수 건수            0
육지 체결건수          0
육지 체결물량          0
육지 매도물량          0
육지 매도건수          0
육지 평균가           0
총 거래건수           0
육지 상한가           0
현물시장거래일          0
매수 물량            0
육지 최고가           0
육지 하한가           0
총 거래물량           0
거래금액             0
순번               0
육지_체결_가격_트랜드     0
육지_체결_가격_주기성분    0
육지_체결_건수_트랜드     0
육지_체결_건수_주기성분    0
육지_거래_규모_트랜드     0
육지_거래_규모_주기성분    0
년도               0
GS EPS_RPS       0
GS동해전력_RPS       0
대륜발전_RPS         0
동두천드림파워_RPS      0
신평택발전_RPS        0
씨지앤율촌전력_RPS      0
에스파워_RPS         0
파주에너지서비스_RPS     0
평택에너지서비스_RPS     0
포천민자발전_RPS       0
포천파워_RPS         0
한국남동발전_RPS       0
한국남부발전_RPS       0
한국동서발전_RPS       0
한국서부발전_RPS       0
한국수력원자력_RPS      0
한국수자원공사_RPS      0
한국중부발전_RPS       0
한국지역난방공사_RPS     0
SMP_최소           0
SMP_최대           0
SMP_평균           0
dtype: int64

In [21]:
# NaN 값이 있는 열만 필터링
nan_counts = df.isnull().sum()
nan_counts = nan_counts[nan_counts > 0]  # NaN 값이 1개 이상 있는 열만 선택

print("NaN 값이 있는 열과 개수:")
print(nan_counts)

NaN 값이 있는 열과 개수:
Series([], dtype: int64)

In [22]:
df.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_3.csv',index=False,encoding='cp949')